main {
  text-align:center;

}

table {
  margin: 1em auto;
}

td {
  border: 2px solid black;
  width: 40px;
  height: 40px;
  background-color:#2891FF;
}

.label {


}

.sea {

}

.boat {

  background-color: #000;

}