<style type="text/css">

div {
    background-color: yellow
}

body {
    background-image:url('/images/sea.jpg')

}

#title {

    background:url('/images/logo.png') no-repeat center;
    background-size: contain;
    height: 200px;
}

</style>

<div id=title>


</div>

<div id=content>

    <a href="/newgame"><h1>New Game</h1></a>

</div>

