<!DOCTYPE html>
<html>
    <head>
        <title>Battleship!</title>
    </head>

<style type="text/css">

div {
    background-color: yellow
}

body {
    background-image:url('/images/sea.jpg')

}

#title {
    background:url('/images/logo.png') no-repeat center;
    background-size: contain;
    height: 200px;
}

</style>

<div id=title>


</div>
    <body>

        <%=yield%>

    </body>
</html>
