<div id=content>

    "Your name please?"

    <form action='/play' method='post'>
        <input type='text' name='name'>
        <input type='submit' value="Prepare for Battle">
    </form>



</div>
