
<h1>Welcome <%=@name%>, your fleet is ready for deployment.</h1>


<table>
    <tr class='table_header'>
        <th></th>
        <% @board1.y_row.each do |element| %>

            <th> <%= element %> </th>

        <% end %>

    </tr>
</table>